<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>Gaming Command Center</vendor>
  <vendor_url>https://github.com/LordHayne/GCC</vendor_url>

  <action id="com.gaming.commandcenter.ccd-helper">
    <description>Apply Gaming Command Center system tweaks</description>
    <message>Authentication is required to change CPU core state and power settings</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/gaming-ccd-helper</annotate>
  </action>

</policyconfig>