<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>Gaming Command Center</vendor>
  <vendor_url>https://github.com/thomas/ryzen-ccd-controller</vendor_url>

  <action id="com.gaming.commandcenter.ccd-helper">
    <description>Park or unpark CPU CCD cores</description>
    <message>Authentication is required to modify CPU core online state</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/thomas/.local/bin/gaming-ccd-helper</annotate>
  </action>

</policyconfig>